<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="ObDatabase" connectionString="Server=tcp:viktorsql1.database.windows.net,1433;Initial Catalog=Test;Persist Security Info=False;User ID=obapp;Password=9DM3WbiV1ByWnSKrZLoh;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DataDirectory" value="E:\Coding\GitHub\apps\OsloBysykkel\TestData"/>
  </appSettings>
</configuration>
