<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="IntervalInSeconds" value="300"/>
  </appSettings>
  <connectionStrings>
    <add name="SQL1" connectionString="data source=no-osl-devsql01;initial catalog=sql1;persist security info=True;user id=Sidra;password=0j44P6zJ;MultipleActiveResultSets=True;"/>
  </connectionStrings>
</configuration>
